* {
  font-family: "Segoe UI";
}

.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
    justify-content: center;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  width: 200px;
  height: 350px;
}

.fighter-preview___name {
  padding: 0 10px 0 10px;
  background: red;
  border: 2px solid white;
  color: white;
  font-size: 30px;
  font-family: "Segoe UI"
}

.fighter-preview___stats {
  margin-top: 30px;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

p {
  padding: 2px;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: space-between;
}

progress {
    background: black;
}

.winner__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.winner__name {
    color: red;
    font-size: 30px;
    font-weight: 600;
}

.modal-root {
    background: orangered;
}